#MinistriesHero {
    position: relative;
    height: 100vh;
    width: 100%;

}

.MinistriesHeroImage {
    height: 100%;
    width: 100%;

    .MinistriesImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    background-color: burlywood;

    }
}

.MinistriesHeroHead {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding: 100px 5%;

    inset: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;

    .MinistriesHeroHeadText {
        font-size: 4em;
    }
}