#ContactInfo {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 5%;
}

.contactInfoContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.contactLocationText {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;

  .headerText {
    font-size: 3em;
  }
  .subText {
    font-size: 1em;
  }
}

.contactLocationLine {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .lineCard {
    height: 9em;
    width: 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1282a2;
    border-radius: 20px;
    color: white;

    .lineIcon {
      & > i {
        font-size: 2em;
      }
    }

    .lineText {
      font-size: 1.2em;
      font-weight: 600;
    }
  }
}

.contactForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  & > label {
    font-size: 2em;
    font-weight: 600;
  }

  #Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    & > input {
      height: 3em;
      width: 80%;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      border: 2px solid #c4fff9;
    }

    & > textarea {
      height: 13em;
      width: 80%;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      border: 2px solid #c4fff9;
    }

    & > button {
      height: 3em;
      width: 80%;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      border: none;
      background-color: #1282a2;

      font-weight: 600;
    }
  }
}
